// Fonts Variables

$primaryFont: "Montserrat";

$bold: 700;
$semibold: 600;
$medium: 500;
$normal: 400;
$light: 300;

// Colors Variables

$primaryColor: #4B4646;

$black: #000000;
$white: white;

$gray1: #121212;
$gray2: #0D0D0D;
$gray3: rgba(255, 255, 255, 0.2);
$gray4: rgba(0, 0, 0, 0.5);

$red1: #ff5d5d;

$green1: rgb(40, 166, 40);

// Container Variables

$containerWidth: 100%;
$containerPadding: 1rem;