// Clicker Styles

@property --gradient-rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.clicker-wrapper {
    max-width: 45.4375rem;
    max-height: 29.75rem;
    width: 100%;
    height: 100%;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        --gradient-rotate: 0deg;
        background: conic-gradient(from var(--gradient-rotate), rgba(0,255,205,1), rgba(182,34,255,1) , rgba(0,255,205,1));
        animation: rotate1 2s linear infinite;
        filter: blur(1rem);
    }
}

.clicker {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: $gray2;
    color: $white;
    position: relative;
    z-index: 1;

    // Gradient Styles
    
    --gradient-rotate: 0deg;
    border-width: 0.5rem;
    border-style: solid;
    border-image-source: conic-gradient(from var(--gradient-rotate), rgba(0,255,205,1), rgba(182,34,255,1), rgba(0,255,205,1));
    border-image-slice: 1;
    animation: rotate2 2s linear infinite;
    border-radius: 1.25rem;

    &__column {
        width: 100%;

        ::-webkit-scrollbar {
            display: none;
        }

        &:first-child {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 1fr;
        }

        &:last-child {
            @extend %gradient-animation-left;
            border-left-width: 0.5rem;
        }
    }

    &__row {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        &:not(:last-child) {
            @extend %gradient-animation-bottom;
        }
    }

    &__score {
        font-size: 3.25rem;
        font-weight: $medium;
        background: $white;
        color: $black;
        padding: 0.5rem;
        border-radius: 0.625rem;
    }

    &__score-numbers {
        display: flex;
        align-items: center;
    }

    &__score-number {
        font-size: 2.25rem;
        background: $white;
        color: $black;
        padding: 0.25rem;
        border-radius: 0.625rem;
        font-weight: $medium;
        text-align: center;
    }

    &__btn {
        @extend %icon-btn;
        background: $white;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        position: relative;
        transition: .2s;

        &::before {
            font-size: 2.5rem;
        }

        &:active {
            transform: scale(0.9);
        }
    }

    &__header,
    &__navigation {
        width: 100%;
    }

    &__header {
        @extend %gradient-animation-bottom;
        border-bottom-width: 0.5rem;
    }

    &__list {
        display: flex;
        justify-content: space-between;

        & > *:not(:last-child) {
            @extend %gradient-animation-right;
            border-right-width: 0.5rem;
        }
    }

    &__list-item {
        width: 100%;
        height: 100%;
    }

    &__list-btn {
        padding: 0.5rem;
        text-align: center;
        font-weight: $semibold;

        // &:hover {
        //     background: $black;
        //     color: $white;
        //     opacity: 1;
        // }
        
        &_active {
            background: $white;
            color: $black;
        }
    }

    &__tabs {
        max-height: 26.3rem;
        overflow: auto;
        position: relative;
    }
}
  
.tab {
    padding: 1rem;
    width: 100%;
    transition: .5s;
    visibility: visible;

    &_none {
        top: 0;
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }

    &__header {
        margin-bottom: 1rem;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: $semibold;
    }

    &__content {
        display: grid;

        &_info-blocks {
            grid-template-columns: 1fr;
            gap: 0.5rem;
        }

        &_services {
            grid-template-columns: repeat(2, 1fr);
            gap: 0.5rem;
        }
    }
}

.info-block {
    width: 100%;
    padding: 0.5rem;
    background: $white;
    color: $black;
    border-radius: 0.625rem;

    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list-name {
        font-weight: $bold;
    }

    &__list-value {
        border-radius: 0.35rem;
        display: inline-block;
        background: $black;
        color: $white;
        padding: 0.25rem 0.5rem;
        margin-top: 0.25rem;
    }
}

.service {
    width: 100%;
    padding: 0.5rem;
    background: $white;
    color: $black;
    text-align: center;
    border-radius: 0.625rem;
    position: relative;
    overflow: hidden;
    transition: box-shadow .3s;

    ::-webkit-scrollbar-track {
        border-radius: inherit;
    }

    // Hover Styles

    &:hover {
        box-shadow: 0 0 12px 7px $gray3;
    }

    &:not(.service_error, .service_success, .service_purchased):hover &__section {

        &_hidden {
            visibility: visible;
            opacity: 1;
            top: 0;
        }
    }

    // Status Styles

    &_error {
        animation: error2 0.3s ease;
    }

    &_error &__section {

        &_error {
            visibility: visible;
            opacity: 1;
        }
    }

    &_success &__section {

        &_success {
            visibility: visible;
            opacity: 1;
        }
    }

    &_purchased &__section {

        &_purchased {
            visibility: visible;
            opacity: 1;
        }
    }

    // Elements Styles

    &__section {

        &_img {
            padding-bottom: 0.5rem;
            border-bottom: 2px solid $black;
        }

        &_text {
            margin-top: 0.5rem;
        }

        &_hidden {
            position: absolute;
            top: -50%;
            left: 0;
            width: 100%;
            height: 100%;
            background: $white;
            border-radius: inherit;
            padding: 0.5rem;
            overflow: auto;
            z-index: 1;
            visibility: hidden;
            opacity: 0;
            transition: .3s;
        }

        &_error {
            background: $red1;
            @extend %status;
        }

        &_success {
            background: $green1;
            @extend %status;
        }

        &_purchased {
            background: $gray4;
            @extend %status;
        }
    }

    &__status-title {
        color: $white;
        font-weight: $bold;
    }

    &__img {
        display: inline-block;

        &::before {
            font-size: 3rem;
            color: $black;
        }
    }

    &__img-text {
        font-size: 2.5rem;
        font-weight: $bold;
    }

    &__name {
        font-weight: $semibold;
        margin-bottom: 0.25rem;
    }

    &__price {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &-item {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &-value {
            border-radius: 0.35rem;
            display: inline-block;
            background: $black;
            color: $white;
            padding: 0.25rem 0.5rem;
            margin-top: 0.25rem;
        }
    }

    &__btn {
        margin-top: 0.5rem;
        width: 100%;
        padding: 0.5rem;
        border: 2px solid $black;
        border-radius: 0.35rem;

        &:hover {
            background: $black;
            color: $white;
            opacity: 1;
        }
    }
}

// Animations

@keyframes rotate1 {
    0% {
        --gradient-rotate: 0deg;
        background: conic-gradient(from var(--gradient-rotate), rgba(0,255,205,1), rgba(182,34,255,1), rgba(0,255,205,1));
    }

    100% {
        --gradient-rotate: 360deg;
        background: conic-gradient(from var(--gradient-rotate), rgba(0,255,205,1), rgba(182,34,255,1) , rgba(0,255,205,1));
    }
}

@keyframes rotate2 {
    0% {
        --gradient-rotate: 0deg;
        border-image-source: conic-gradient(from var(--gradient-rotate), rgba(0,255,205,1), rgba(182,34,255,1), rgba(0,255,205,1));
        border-image-slice: 1;
        border-style: solid;
    }

    100% {
        --gradient-rotate: 360deg;
        border-image-source: conic-gradient(from var(--gradient-rotate), rgba(0,255,205,1), rgba(182,34,255,1), rgba(0,255,205,1));
        border-image-slice: 1;
        border-style: solid;
    }
}

@keyframes error {
    25% {
        left: 0;
    }

    50% {
        left: -0.5rem;
    }

    75% {
        left: 0.5rem;
    }

    100% {
        left: 0;
    }
}

@keyframes error2 {
    25% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0);
    }
}